@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

html
{
  body
  {
    background-image: url("purty_wood.png");

    .authbuttons
    {
      position:relative;
      top: 42px;
      color: white;
    }

    .form_button1
    {
      margin-bottom: 0px;
    }

    .notice
    {
    position: relative;
    left: 260px;
    font-style: italic;
    color: #3366FF;
    }

    .user_auth_form
    {
      background: lemonchiffon;
    }

    .row
    {
      background-color: white;
    }

    #cancel
    {
      float: right;
    }

    #unhappy
    {
      margin-top: 20px;
    }

    #piggybank
    {
      height: 100px;
      width: 100px;
    }

    #website_name
    {
      font-family: Cabin Sketch, sans-serif;
      margin-top: 28px;
      margin-left: -52px;
    }
  }
}
