@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

html
{
  body
  {
    background-image: url("purty_wood.png");

    #piggybank
    {
      height: 100px;
      width: 100px;
    }

    #website_name
    {
      font-family: Cabin Sketch, sans-serif;
      margin-top: 28px;
      margin-left: -52px;
    }
    .row
    {
      background-color: white;
    }
  }
}
